.terminal__viewer {
  opacity: 1;
  transition: z-index 500ms, opacity 500ms;
  z-index: 10;
}

.terminal__viewer--hidden {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.terminal__viewer-body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.terminal__viewer-background {
  background: var(--background);
  opacity: 0.95;
}

.terminal {
  box-sizing: border-box;
  flex: 1 1 auto;
  font-family: ui-monospace, SFMono-Regular, Consolas,
    "Liberation Mono", monospace;
  min-height: 0;
  overflow: auto;
  padding: 1rem;
  width: 100%;
}

.terminal--hidden {
  flex: 0 0 auto;
  height: 0;
  padding: 0;
  visibility: hidden;
}

.terminal__text {
  cursor: text;
  margin: 0;
  user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -webkit-user-select: text;
}
